/* ====== Caixinhas de informação ====== */
.box-info {
    background-color: #f1f4fc; /* azul muito suave */
    border-left: 5px solid #031A4B; /* destaque azul escuro */
    padding: 20px 25px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.05);
}

.box-info h3 {
    color: #031A4B;
    margin-bottom: 10px;
}

.box-info ul {
    padding-left: 20px;
}

.box-info ul li {
    margin-bottom: 8px;
    line-height: 1.5;
    color: #1A1A1A;
}
