* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.logo {
  text-align: center;
  margin-bottom: 20px;
}

.logo img {
  width: 150px;
  margin-bottom: 10px;
}

.logo h1 {
  font-size: 24px;
  color: #333;
  font-weight: 600;
}

.container {
  background: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #444;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 12px;
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 14px;
  transition: all 0.3s ease;
}

input:focus {
  border-color: #6b705c;
}

button {
  background-color: #6b705c;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 10px;
}

button:hover {
  background-color: #a5a58d;
}

p {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

a {
  color: #6b705c;
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  text-decoration: underline;
}
