/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #1e2a38, #2b3b4b);
}

/* Container ocupa quase a tela */
.login-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Caixa de cadastro */
.login-box {
  background: #fff;
  padding: 60px 80px;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.2);
  max-width: 500px;
  width: 100%;
  text-align: center;
}

.logo img {
  width: 90px;
  margin-bottom: 10px;
}

.login-box h1 {
  margin-bottom: 10px;
  font-size: 30px;
  color: #1e2a38;
}

.subtitle {
  margin-bottom: 30px;
  font-size: 14px;
  color: #555;
}

/* Labels */
label {
  display: block;
  text-align: left;
  margin-bottom: 6px;
  font-weight: bold;
  color: #333;
}

/* Inputs */
input {
  width: 100%;
  padding: 14px;
  margin-bottom: 22px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 15px;
}

input:focus {
  border-color: #1e2a38;
  outline: none;
  box-shadow: 0 0 6px rgba(30,42,56,0.4);
}

/* Botão */
.btn {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 10px;
  background: #1e2a38;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  background: #2b3b4b;
}

/* Extras */
.extras {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  font-size: 14px;
}

.extras a {
  color: #1e2a38;
  text-decoration: none;
}

.extras a:hover {
  text-decoration: underline;
}
