body {
  font-family: Arial, sans-serif;
  background-color: #f6f6f6;
  margin: 0;
  padding: 0;
  color: #333;
}

/* CABEÇALHO */
header {
  background-color: #0a0f2c;
  color: white;
  text-align: left;
  padding: 10px 25px;
  font-size: 18px;
  font-weight: 500;
}

.logo {
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
}

/* CONTEÚDO */
.container {
  width: 90%;
  max-width: 800px;
  margin: 30px auto;
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2, h3 {
  color: #222;
  margin-bottom: 10px;
}

.pedido, .endereco, .pagamento {
  margin-bottom: 25px;
}

#produtos {
  background: #f9f9f9;
  padding: 10px;
  border-radius: 6px;
}

.produto-item {
  margin-bottom: 10px;
}

.total {
  font-weight: bold;
  font-size: 18px;
  text-align: right;
}

.opcoes {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.opcao {
  background: #f1f1f1;
  padding: 15px;
  border-radius: 8px;
}

.opcao input {
  display: block;
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.gerar {
  background-color: #555;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.confirmar {
  width: 100%;
  background-color: #333;
  color: #fff;
  border: none;
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.confirmar:hover {
  background-color: #555;
}

/* RODAPÉ */
footer {
  background-color: #0a0f2c;
  color: white;
  text-align: center;
  padding: 12px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  margin-top: 30px;
}
